*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 background-color: silver;
 padding: 20px;
}
#header{
 height: 150px;
 background-color: green;
 margin-bottom: 20px;
}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
}
#main_content{
 height: 400px;
 width: 700px;
 background-color: red;
 float: right;
}
.subcontents{
 height: 200px;
 width: 200px;
 background-color: yellow;
 display: inline-block;
 margin: 12px 0px 12px 12px;
}
#advertisement{
 height: 120px;
 width: 620px;
 background-color: purple;
 margin: 12px;
}

.blue-red {
    display: inline-block;
}

#bottom {
    height: 450px;
}